* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

@font-face {
  font-family: 'Minecraftia';
  src: local('Minecraftia'), url('./fonts/Minecraftia-Regular.ttf') format('truetype');
} 


body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: Minecraftia, Arial, serif;
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
  color: black;
}

.botoesZerar{
  position: absolute;
  right: 10px;
  z-index: 1000;
  top: 10px;
  width: 100px;
  padding: 5px;;
  background-color: brown;
  text-align: center;
}

.botoesSalvar{
  right: 140px;
}
.botoesZerar{
  right: 10px;
}
.botoesCarregar{
  right: 270px;
}

.btn{
  position: absolute;
  z-index: 1000;
  top: 10px;
  background-color: #6d6d6d;
  border:  solid 1px #000;
  padding: 6px;
  width: 120px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px #252525;
  
}

.btn:hover{
  background-color: #7e88bf;
  color:white;
}

.botoesSalvar.a:active{
  text-decoration: none;;
}

.linkOff{
  text-decoration: none;
  color:black;
}

.linkOff:any-link{
  text-decoration: none;
  color:rgb(255, 255, 255);
}



.quadro{
  position: absolute;
  left: 50%;
  margin-left: -300px;
  z-index: 1000;
  width: 600px;
  background-color: rgb(109 109 109);
  top: 200px;
  bottom: 200px;
  padding: 20px;
  max-height: 400px;
  min-height: 350px;
  display: none;
  color: white;
  border: 3px solid black;

}

.quadroMapas{
  max-height:1000px;
}

h3{
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.inputForm{
  width: 100%;
  box-shadow:  0 0 0.5em rgb(82, 82, 82);
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divForm{

  width: 100%;
}

.espaco{
  height: 20px;
  width: 100%;
}

.buttonForm{
  background-color: #c16c5b;
  color: white;
  border: 0px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 5px;

}

.flexCenter{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}


.fecharBtn{
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #c16c5b;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid #882121;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.dados{
  border:1px solid black;
  cursor: pointer;
  padding: 5px;
}

.listaDiv{
  overflow:auto;
  height: 100%;
}

.inicarDiv
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 799;
    background-image: url('../src/images/fundo.jpg');
    background-size: cover;
}


.btnStart:hover{
  background-color: #7e88bf;
  color:white;
}

.btnStart
{
  font-size: large;
  position: absolute;
  z-index: 800;
  padding: 10px;
  width: 140px;
  text-align: center;
  background-color: #345f30;
  color:white;
  margin-left: -70px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  border: 3px solid black;
}

.instrucoes
{
  width: 400px;
  position: absolute;
  z-index: 800;
  bottom: 10%;
  margin-top: 60px;
  margin-left: -200px;
  left: 50%;

}

.textoExplicativo
{
  position: absolute;
  width: 600px;
  background: #6d6d6d;
  padding: 20px;
  color: rgb(255, 255, 255);
  z-index: 800;
  left: 50%;
  margin-left: -300px;
  top: 40%;
  margin-top: -90px;
  font-size:medium;
}


a:any-link
{  
  color: rgb(0, 39, 211);

  text-decoration: none;

}

.aparece
{
  display: block;
}

.logo{
  position:absolute;
  left: 50%;
  z-index: 1000;
  top: 5%;
  width: 500px;
  margin-left: -250px;;
}

.mira{
  position:absolute;
  left: 50%;
  z-index: 800;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: 10px;
}

.mao{
  position:absolute;
  z-index: 700;
  bottom: -50px;
  right: 150px;
  width: 25%;
}